nav.navbar.navbar-light.navbar-expand-lg.navbar-light.fixed-top.shadow-sm.bg-white
  a.navbar-brand(href='#') App name
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.active
        a.nav-link(href='#')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') Social Apps
      li.nav-item
        a.nav-link(href='contact') Contact
      li.nav-item
        a.nav-link(href="login") Login
    .navbar-text.ml-lg-3
      a.btn.btn-primary.text-white.shadow(href="#") Sign Up
     

//- nav.navbar.navbar-light.navbar-expand-lg.fixed-top.shadow-sm.bg-white
//-   a.navbar-brand(href="index.html") App name
//-   button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
//-     span.navbar-toggler-icon
//-   #navbarSupportedContent.collapse.navbar-collapse
//-     ul.navbar-nav.ml-auto
//-       li.nav-item
//-         a.nav-link(href="#") About Us
//-       li.nav-item
//-         a.nav-link(href="#") Features
//-       li.nav-item
//-         a.nav-link(href="#") Testimonials
//-     .navbar-text.ml-lg-3
//-       a.btn.btn-primary.text-white.shadow(href="#") Sign Up



