extends layout

block content

  section
    .container
      blockquote.blockquote.text-center.mb-0
        svg.lnr.text-muted.quote-icon.pull-left
          use(xlink:href="#lnr-neutral")  
        p.mb-0 Oops! We found nothing here
        footer.blockquote-footer
          | Go back to the Homepage.
          a(href="/")
            cite(title="Source Title") Click here






