extends layout

block content

  section
    .container
      .row
        .col-lg-6.order-2.order-lg-1
          h2 Hackathon Starter Kit 
          p.lead
            | A Node-Typescript/Express Boilerplate with Authentication(Local, Github, Facebook, Twitter, Google, LinkedIn, Dropbox, Slack, Discord), Authorization, and CRUD functionality + PWA Support!
          p
            a.btn.btn-primary.shadow.mr-2(href='https://github.com/nerdeveloper/hackathon-starter-kit' target="_blank") Fork on Github 
            button.btn.btn-outline-primary(href='#') Some another action
      
        .col-lg-6.order-1.order-lg-2#hackathonImages
          img.img-fluid(src='https://source.unsplash.com/user/timmossholder/350x250' alt='...')
  
    section#collection
    .container
      h2 Collections
      p.lead.text-muted.mb-5 In enim non sit irure ut adipisicing laboris et laborum.
      .row
        .col-md-4.mb-4
          .card.shadow.border-0.h-100
            a(href='#')
              img.card-img-top(src='https://source.unsplash.com/user/nate_dumlao/300x250' alt='')
            .card-body
              h5
                a.text-dark(href='#') Ex cupidatat eu
              p.text-muted.card-text
                | Ex cupidatat eu officia consequat incididunt labore occaecat ut veniam labore et cillum id et.
              p.card-text
                a(href='#') Read more
        .col-md-4.mb-4
          .card.shadow.border-0.h-100
            a(href='#')
              img.card-img-top(src='https://source.unsplash.com/user/boxedwater/300x250' alt='')
            .card-body
              h5
                a.text-dark(href='#') Tempor aute occaecat
              p.text-muted.card-text Tempor aute occaecat pariatur esse aute amet.
              p.card-text
                a(href='#') Read more
        .col-md-4.mb-4
          .card.shadow.border-0.h-100
            a(href='#')
              img.card-img-top(src='https://source.unsplash.com/user/olroque/300x250' alt='')
            .card-body
              h5
                a.text-dark(href='#') Voluptate ex irure
              p.text-muted.card-text
                | Voluptate ex irure ipsum ipsum ullamco ipsum reprehenderit non ut mollit commodo.
              p.card-text
                a(href='#') Read more
        .col-md-4.mb-4
          .card.shadow.border-0.h-100
            a(href='#')
              img.card-img-top(src='https://source.unsplash.com/user/honest/300x250' alt='')
            .card-body
              h5
                a.text-dark(href='#') Tempor commodo
              p.text-muted.card-text Tempor commodo nostrud ex Lorem occaecat duis occaecat minim.
              p.card-text
                a(href='#') Read more
        .col-md-4.mb-4
          .card.shadow.border-0.h-100
            a(href='#')
              img.card-img-top(src='https://source.unsplash.com/user/cabbejj/300x250' alt='')
            .card-body
              h5
                a.text-dark(href='#') Et fugiat sint occaecat
              p.text-muted.card-text
                | Et fugiat sint occaecat voluptate incididunt anim nostrud ea cillum cillum consequat.
              p.card-text
                a(href='#') Read more
        .col-md-4.mb-4
          .card.shadow.border-0.h-100
            a(href='#')
              img.card-img-top(src='https://source.unsplash.com/random/300x250' alt='')
            .card-body
              h5
                a.text-dark(href='#') Et labore tempor et
              p.text-muted.card-text Et labore tempor et adipisicing dolor.
              p.card-text
                a(href='#') Read more
  
  