extends layout
block content
  h2.text-center Login
  .container
    .row
      .col-xl-8.offset-xl-2.py-5
        form#contact-form(method="post" action="login" role="form")
          .messages
          .controls
            .row
              .col-md-12
                .form-group
                  label(for="form_email") Email *
                  input#form_email.form-control(type="email" name="email" placeholder="Please enter your email *" required="required")
                  .help-block.with-errors
            .row
              .col-md-12
                .form-group
                  label(for="form_email") Password *
                  input#form_email.form-control(type="password" name="password" placeholder="Please enter your password *" required="required" )
                  .help-block.with-errors

              .col-md-12
                .g-recaptcha(name="google-recap", data-sitekey="6Lc5FLcUAAAAAAdxwth9zrNgPhnRb7ZQ5yYk01KS")
              .col-md-12
                input.btn.btn-success.btn-send(type="submit" value="Login")
                
        h3.text-center OR
        br
        h4 Sign in with: 
        hr.my-4
        .container
          .row
            .col-sm.paddingButtons
              a(href='/auth/twitter')
                button.btn.btn-twitter.text-uppercase
                  i.fab.fa-twitter
                    |  Twitter
            .col-sm.paddingButtons
              a(href='/auth/github')
                button.btn.btn-github.text-uppercase
                  i.fab.fa-github
                    |  Github
            .col-sm.paddingButtons
              a(href='/auth/facebook')
                button.btn.btn-facebook.text-uppercase
                  i.fab.fa-facebook-f
                    |  Facebook
            .col-sm.paddingButtons
              a(href='/auth/discord')
                button.btn.btn-discord.text-uppercase
                  i.fab.fa-discord
                    |  Discord
              
          hr.my-2
          .row
            .col-sm.paddingButtons
               a(href='/auth/google')
                 button.btn.btn-google.text-uppercase
                   i.fab.fa-google
                     |  Google
            .col-sm.paddingButtons
              a(href='/auth/linkedin')
                button.btn.btn-linkedin.text-uppercase
                  i.fab.fa-linkedin-in
                    |  LinkedIn
            .col-sm.paddingButtons
              a(href='/auth/dropbox')
                button.btn.btn-dropbox.text-uppercase
                  i.fab.fa-dropbox
                    |  dropbox
            .col-sm.paddingButtons
              a(href='/auth/slack')
                button.btn.btn-slack.text-uppercase
                  i.fab.fa-slack
                    |  slack


           
  




