extends layout

block content
  if posts
    .container
      .row
        each p in posts
          .col-md-4.mb-4
            .card.shadow.border-0.h-100
              .card-body
                h5
                  a.text-dark= p.title
                p.text-muted.card-text= p.description

                .row
                  .col
                    p.card-text
                      a.btn.btn-primary.shadow.mr-2(href=`/create/${p._id}/edit`) Edit Post
                  
                  .col-6
                    .card-text
                      button.btn.btn-primary.shadow.mr-2(data-toggle="modal"  data-target="#exampleModal" ) Delete Post
          //Modal 
          #exampleModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
            .modal-dialog(role="document")
              .modal-content
                .modal-header
                  h5#exampleModalLabel.modal-title Delete Post
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") ×
                .modal-body
                  | Are you sure you want to delete this post?
                .modal-footer
                  button.btn.btn-secondary(type="button" data-dismiss="modal") No
                  a(href=`/create/${p._id}/delete`)
                    button.btn.btn-primary(type="button") Yes



  if posts.length < 1 || posts === undefined
    // Quote
    section
      .container
        blockquote.blockquote.text-center.mb-0
          svg.lnr.text-muted.quote-icon.pull-left
            use(xlink:href="#lnr-sad")  
          p.mb-0 There is no Post here.
          footer.blockquote-footer
            | Try Creating a Post.
            a(href=`/create`)
              cite(title="Source Title") Click here