body {
    padding-top: 56px;
}
#collection {
    padding: 2rem;
}
.g-recaptcha {
    padding-bottom: 1rem;
}
.inner {
    max-width: 900px;
    margin: 0 auto;
}
@media all and (max-width: 900px) {
    .inner {
        padding: 2rem;
    }
}
@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    50% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slideIn {
    0% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    50% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.flash {
    background: white;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
    padding: 1rem;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: slideIn forwards 0.1s ease-in-out 2;
    animation: slideIn forwards 0.1s ease-in-out 2;
    -webkit-animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1);
    animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1);
}
.flash + .flash {
    -webkit-animation-delay: 0.55s;
    animation-delay: 0.55s;
}
.flash + .flash + .flash {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.flash__text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flash__remove {
    background: none;
    border: 0;
}
.flash__remove:hover {
    color: #ffc40e;
}
.flash:after {
    content: "";
    display: block;
    background: white;
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
    z-index: -1;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.flash--success {
    background: -o-linear-gradient(315deg, #d2ff52 0%, #91e842 100%);
    background: linear-gradient(135deg, #d2ff52 0%, #91e842 100%);
}
.flash--error {
    background: -o-linear-gradient(70deg, red 0%, #c80000 100%);
    background: linear-gradient(20deg, red 0%, #c80000 100%);
}
.flash--info {
    background: -o-linear-gradient(55deg, #f1e767 0%, #feb645 100%);
    background: linear-gradient(35deg, #f1e767 0%, #feb645 100%);
}
.flash p {
    margin: 0;
}
.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}
.btn-twitter {
    color: white;
    background-color: #1da1f2;
}
.btn-github {
    color: white;
    background-color: #24292e;
}
.btn-linkedin {
    color: white;
    background-color: #007bb5;
}
.btn-dropbox {
    color: white;
    background-color: #3d9ae8;
}
.btn-discord {
    color: white;
    background-color: #7289da;
}

.btn-slack {
    color: white;
    background-color: #4a154b;
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 575.98px) {
    .paddingButtons {
        padding-bottom: 1rem;
    }
}
@media (max-width: 991.98px) {
    #hackathonImages {
        display: none;
    }
}
